.svg-menu
    background-image: url("../svg/menu.svg#file")

.svg-case
    background-image: url("../svg/case.svg#file")

.svg-note
    background-image: url("../svg/note.svg#file")

.svg-signin
    background-image: url("../svg/signin.svg#file")

.svg-signout
    background-image: url("../svg/signout.svg#file")

.svg-arrow-left
    background-image: url("../svg/arrow-left.svg#file")

.svg-arrow-right
    background-image: url("../svg/arrow-right.svg#file")

.svg-trash
    background-image: url("../svg/trash.svg#file")

.svg-check
    background-image: url("../svg/check.svg#file")

.svg-pencil
    background-image: url("../svg/pencil.svg#file")

.svg-x-mark
    background-image: url("../svg/x-mark.svg#file")

.svg-plus
    background-image: url("../svg/plus.svg#file")

.svg-plus-circle
    background-image: url("../svg/plus-circle.svg#file")