.svg-menu
    background-image: url("../svg/menu.svg#file")

.svg-case
    background-image: url("../svg/case.svg#file")

.svg-note
    background-image: url("../svg/note.svg#file")

.svg-signin
    background-image: url("../svg/signin.svg#file")

.svg-signout
    background-image: url("../svg/signout.svg#file")