@import "tailwindcss";

@source "../../../**/*.html";
@source "../../../**/*.vue";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-td-primary: #733fa0;
    --color-td-secondary: #ff8827;
    --color-td-secondary-light: #e7e0ca;
    --color-td-gray-dark: #363636;
    --color-td-gray-light: #d8d8d8;
}

.navigation-button {
    @apply flex flex-row items-center px-1 sm:px-4 py-2 rounded hover:bg-td-primary hover:text-white dark:hover:bg-td-secondary duration-200;

    &:hover .navigation-icon,
    &:hover .bg-no-repeat {
        @apply invert-100;
    }
}

.navigation-icon {
    @apply inline-block size-6 mr-2 bg-no-repeat bg-contain bg-center dark:invert-100 duration-200;
}

.action-button {
    @apply border-gray-300 border-1 flex justify-center items-center p-4 rounded-xl cursor-pointer duration-200;
}

.task-label {
    @apply text-nowrap px-2 py-0.5 rounded-xl text-center;
}

.input-field {
    @apply py-2 px-3 bg-gray-50 focus:bg-gray-100 outline-0 block;
}