@import "tailwindcss";

@source "../../../**/*.html";
@source "../../../**/*.vue";

@custom-variant dark (&:where(.dark, .dark *));

.navigation-button {
    @apply flex flex-row items-center py-2 rounded hover:bg-green-50 dark:text-white dark:hover:bg-green-950 duration-200;
}

.navigation-icon {
    @apply inline-block size-6 mr-2 bg-no-repeat bg-contain bg-center dark:invert-100 duration-200;
}

.action-button {
    @apply border-gray-300 border-1 flex justify-center items-center p-2 rounded-xl cursor-pointer duration-200;
}

.task-label {
    @apply text-nowrap px-2 py-0.5 rounded-xl text-center;
}

.input-field {
    @apply py-2 px-3 bg-gray-50 focus:bg-gray-100 outline-0 block;
}