name: 'taskdesk-dev'

services:
  taskdesk:
    build:
      context: ..
      dockerfile: ./docker/backend.dev.dockerfile
    env_file:
      - ./dev.env
    entrypoint: "uvicorn TaskDesk.asgi:application --host 0.0.0.0 --reload --reload-include *.html"
    stdin_open: true
    tty: true
    networks:
      - taskdesk_network
    ports:
      - "8000:8000"
    volumes:
      - ${BACKEND_ROOT_DIR:-..}:/opt/taskdesk
      - ${BACKEND_ROOT_DIR:-../../Workspace/taskstorage}:/opt/taskdesk/taskstorage
      - ${BACKEND_ROOT_DIR:-../../Workspace/media}:/opt/taskdesk/media
      - ${BACKEND_ROOT_DIR:-../../Workspace/log/taskdesk}:/var/log/taskdesk
    depends_on:
      db:
        condition: service_healthy
      frontend:
        condition: service_healthy
      cache:
        condition: service_healthy
      mq:
        condition: service_healthy
      worker:
        condition: service_healthy

  frontend:
    build:
      context: ..
      dockerfile: ./docker/frontend.dev.dockerfile
    networks:
      - taskdesk_network
    ports:
      - "5173:5173"
    volumes:
      - ${FRONTEND_ROOT_DIR:-..}:/opt/taskdesk
    healthcheck:
      test: ["CMD", "curl", "-s", "--fail", "http://localhost:5173"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 10s

  worker:
    build:
      context: ..
      dockerfile: ./docker/worker.dev.dockerfile
    env_file:
      - ./dev.env
    entrypoint: "celery -A TaskDesk worker --loglevel=info"
    networks:
      - taskdesk_network
    volumes:
      - ${BACKEND_ROOT_DIR:-..}:/opt/taskdesk
      - ${BACKEND_ROOT_DIR:-../../Workspace/taskstorage}:/opt/taskdesk/taskstorage
      - ${BACKEND_ROOT_DIR:-../../Workspace/media}:/opt/taskdesk/media
      - ${BACKEND_ROOT_DIR:-../../Workspace/log/worker}:/var/log/taskdesk
    healthcheck:
      test: ["CMD", "celery", "-A", "TaskDesk", "status"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 10s
    restart: always
    depends_on:
      mq:
        condition: service_healthy
      db:
        condition: service_healthy
      cache:
        condition: service_healthy


  mq:
    image: rabbitmq:4.2.2-management
    networks:
      - taskdesk_network
    expose:
      - "5672"
    ports:
      - "15672:15672"
    env_file:
      - ./dev.env
    volumes:
      - ${RABBITMQ_VOLUME_DIR:-../../Workspace/rabbitmq}:/var/lib/rabbitmq
      - ${BACKEND_ROOT_DIR:-../../Workspace/log/rabbitmq}:/var/log/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 10s
    restart: always

  db:
    image: postgres:18.1
    networks:
      - taskdesk_network
    ports:
      - "5432:5432"
    env_file:
      - ./dev.env
    volumes:
      - ${POSTGRES_DATABASE_DIR:-../../Workspace/postgres}:/var/lib/postgresql
      - ${BACKEND_ROOT_DIR:-../../Workspace/log/postgresql}:/var/log/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "notes"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 10s
    restart: always

  cache:
    image: redis:latest
    networks:
      - taskdesk_network
    ports:
      - "6379:6379"
    volumes:
      - ${REDIS_DATABASE_DIR:-../../Workspace/redis}/data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 30s
      retries: 50
      start_period: 10s
    restart: always

networks:
  taskdesk_network:
