{% load i18n cache %}
<header id="navigation-header" class="duration-200">
    <nav class="bg-white shadow-sm border-b border-b-gray-300 px-4 sm:px-6 py-2.5 dark:bg-gray-900 dark:shadow-xl dark:border-b-black" id="navigation-app">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="/" class="flex items-center">
                <img src="https://upload.wikimedia.org/wikipedia/ru/5/59/Taskwarrior_logo.png" class="mr-3 h-6 sm:h-9" alt="TaskDesk" />
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">TaskDesk</span>
            </a>

            <div class="flex items-center gap-6 sm:order-2">
                {% if request.user.is_authenticated %}
                <button type="button" @click="showNavigationMenu = !showNavigationMenu"
                    :class="{'bg-gray-100 dark:bg-gray-800': showNavigationMenu}"
                    class="inline-flex items-center p-2 ml-1 text-sm sm:hidden! cursor-pointer rounded-lg hover:bg-gray-100 dark:hover:bg-gray-800">
                    <span class="inline-block size-6 bg-no-repeat bg-center bg-contain svg-menu dark:invert-100"></span>
                </button>
                {% else %}
                {% include '_theme_toggle.html' %}
                <a href="{% cache 604800 tdauthloginpageurl %}{% url 'tdauth_login' %}{% endcache %}" class="navigation-button">
                    <span class="inline-block size-6 mr-2 bg-no-repeat bg-center bg-contain svg-signin"></span>
                    <span>{% trans "Sign In" %}</span>
                </a>
                {% endif %}
            </div>

            {% if request.user.is_authenticated %}
            <div class="hidden w-full sm:w-auto sm:grow sm:ml-6 sm:order-1 sm:block" :class="{'block!': showNavigationMenu}">
                <ul class="flex flex-row justify-between items-center gap-3 w-full mt-4 font-medium sm:mt-0" role="menu">
                    <li role="menuitem">
                        <a href="{% cache 604800 taskswebappurl %}{% url 'tasks_webapp' %}{% endcache %}" class="navigation-button sm:px-4">
                            <span class="navigation-icon svg-case"></span>
                            <span>{% trans "Tasks" %}</span>
                        </a>
                    </li>

                    <li role="menuitem">
                        <a href="{% cache 604800 newswebappurl %}{% url 'news_webapp' %}{% endcache %}" class="navigation-button sm:px-4">
                            <span class="navigation-icon svg-rss"></span>
                            <span>{% trans "News" %}</span>
                        </a>
                    </li>

                    <li class="ml-auto flex items-center" role="menuitem">
                        {% include '_theme_toggle.html' %}
                    </li>

                    <li role="menuitem">
                        <a href="{% cache 604800 tdauthlogoutpageurl %}{% url 'tdauth_logout' %}{% endcache %}" class="navigation-button sm:px-4">
                            <span class="navigation-icon svg-signout"></span>
                            <span>{% trans "Sign Out" %}</span>
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
</header>