{% load i18n cache django_vite %}
<header id="navigation-app" class="">
    <nav class="bg-white shadow-sm border-b border-b-gray-300 px-4 sm:px-6 py-2.5 dark:bg-gray-900 dark:shadow-xl dark:border-b-black" aria-label="Main">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="/" class="flex xs:flex-col sm:flex-row items-center hover:text-td-primary dark:hover:text-td-secondary duration-400">
                <img src="{% vite_asset_url 'svg/favicon.svg' %}" class="mr-3 xs:mr-0 sm:mr-3 h-6 sm:h-9" alt="TaskDesk" />
                <span class="self-center text-lg xs:text-sm sm:text-xl font-semibold whitespace-nowrap">TaskDesk</span>
            </a>

            <div class="flex flex-row items-center gap-6 xs:order-2">
                {% if request.user.is_authenticated %}
                <button type="button" @click="showNavigationMenu = !showNavigationMenu"
                    :class="{'bg-gray-100 dark:bg-gray-800': showNavigationMenu}"
                    class="inline-flex items-center p-2 ml-1 text-sm xs:!hidden cursor-pointer rounded-lg hover:bg-gray-100 dark:hover:bg-gray-800">
                    <span class="inline-block size-6 bg-no-repeat bg-center bg-contain svg-menu dark:invert-100"></span>
                </button>
                {% else %}
                {% include '_theme_toggle.html' %}
                <a href="{% cache 604800 tdauthloginpageurl %}{% url 'tdauth_login' %}{% endcache %}" class="navigation-button">
                    <span class="inline-block size-6 mr-2 bg-no-repeat bg-center bg-contain svg-signin"></span>
                    <span>{% trans "Sign In" %}</span>
                </a>
                {% endif %}
            </div>

            {% if request.user.is_authenticated %}
            <div class="ml-6 hidden lg:flex">
                <ul role="menu">
                    <li role="menuitem">
                        <a href="{% cache 604800 taskswebappurl %}{% url 'tasks_webapp' %}{% endcache %}new/" class="navigation-button">
                            <span class="navigation-icon svg-plus-circle !mr-1.5"></span>
                            <span>{% trans 'Add Task' %}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="hidden w-full xs:ml-3 lg:ml-3 xs:w-auto xs:grow xs:order-1 xs:block" :class="{'block!': showNavigationMenu}">
                <ul class="flex flex-row flex-wrap justify-between items-center gap-3 w-full mt-4 font-medium xs:mt-0" role="menu">
                    <li role="menuitem">
                        <a href="{% cache 604800 taskswebappurl %}{% url 'tasks_webapp' %}{% endcache %}" class="navigation-button">
                            <span class="navigation-icon svg-case"></span>
                            <span>{% trans "Tasks" %}</span>
                        </a>
                    </li>

                    <li role="menuitem">
                        <a href="{% cache 604800 newswebappurl %}{% url 'news_webapp' %}{% endcache %}" class="navigation-button">
                            <span class="navigation-icon svg-rss"></span>
                            <span>{% trans "News" %}</span>
                        </a>
                    </li>

                    <li role="menuitem" class="flex xs:hidden lg:flex">
                        <install-app-button />
                    </li>

                    <li class="ml-auto flex items-center" role="menuitem">
                        {% include '_theme_toggle.html' %}
                    </li>

                    <li role="menuitem">
                        <a href="{% cache 604800 tdauthlogoutpageurl %}{% url 'tdauth_logout' %}{% endcache %}" class="navigation-button">
                            <span class="navigation-icon svg-signout"></span>
                            <span>{% trans "Sign Out" %}</span>
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
</header>