{% load i18n %}
<header>
    <nav class="bg-white border-b border-b-gray-300 px-4 sm:px-6 py-2.5 dark:bg-gray-700" id="navigation-app">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="/" class="flex items-center">
                <img src="https://upload.wikimedia.org/wikipedia/ru/5/59/Taskwarrior_logo.png" class="mr-3 h-6 sm:h-9" alt="TaskDesk" />
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">TaskDesk</span>
            </a>

            <div class="flex items-center sm:order-2">
                {% if request.user.is_authenticated %}
                <button type="button" @click="showNavigationMenu = !showNavigationMenu"
                    class="inline-flex items-center p-2 ml-1 text-sm sm:hidden! text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="inline-block size-6 bg-no-repeat bg-center bg-contain svg-menu"></span>
                </button>
                {% else %}
                <a href="{% url 'tdauth_login' %}" class="navigation-button">
                    <span class="inline-block size-6 mr-2 bg-no-repeat bg-center bg-contain svg-signin"></span>
                    <span>{% trans "Sign In" %}</span>
                </a>
                {% endif %}
            </div>

            {% if request.user.is_authenticated %}
            <div class="hidden w-full sm:w-auto sm:grow sm:ml-6 sm:order-1 sm:block"
                :class="{'block!': showNavigationMenu}">
                <ul class="flex flex-row justify-between sm:items-center w-full mt-4 font-medium sm:space-x-8 sm:mt-0"
                    role="menu">
                    <li role="menuitem">
                        <a href="#" class="navigation-button">
                            <span class="inline-block size-6 mr-2 bg-no-repeat bg-center bg-contain svg-case"></span>
                            <span>{% trans "Tasks" %}</span>
                        </a>
                    </li>

                    <li role="menuitem">
                        <a href="#" class="navigation-button">
                            <span class="inline-block size-6 mr-2 bg-no-repeat bg-center bg-contain svg-note"></span>
                            <span>{% trans "Notes" %}</span>
                        </a>
                    </li>

                    <li class="sm:ml-auto" role="menuitem">
                        <a href="{% url 'tdauth_logout' %}" class="navigation-button">
                            <span class="inline-block size-6 mr-2 bg-no-repeat bg-center bg-contain svg-signout"></span>
                            <span>{% trans "Sign Out" %}</span>
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
</header>