{% load static cache i18n wagtailcore_tags wagtailuserbar django_vite %}<!DOCTYPE html>
<html lang="{% trans 'en' context 'webmanifest' %}">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <link rel="icon" type="image/x-icon" href="{% vite_asset_url 'ico/favicon.ico' %}" />
        <link rel="icon" type="image/svg" href="{% vite_asset_url 'svg/favicon.svg' %}" />
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="manifest" href="{% url 'webmanifest' %}" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {% if debug %}
            {% vite_hmr_client %}
        {% endif %}

        <link rel="stylesheet" href="{% vite_asset_url 'css/tailwind.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% vite_asset_url 'css/main.sass' %}" type="text/css" />

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <script type="text/javascript">
            window.API_BASE_URL = "/api/v1";
            window.CSRFTOKEN = "{{ csrf_token }}";
        </script>
    </head>

    <body class="bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-white {% block body_class %}{% endblock %}">
        {# wagtailuserbar  -- annoying #}

        {% include "_header.html" %}

        {% block content %}{% endblock %}

        {% include "_footer.html" %}

        <script type="module" src="{% vite_asset_url 'js/navigation/NavigationApp.ts' %}" defer></script>
        {% comment %} <script type="text/javascript">
        if ('serviceWorker' in navigator){window.addEventListener('load',()=>{navigator.serviceWorker.register("/sw.js", { scope: '/' });});}
        </script> {% endcomment %}

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
